
	
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		border-bottom: 2px dasher gray;
	}
	
	nav > ul {
		position: relative;
		padding: 0;
	}
	
	nav > ul > li {
		display: inline-block;
		padding: 1em;
		
	}
	
	nav > ul > li > a {
		text-decoration: none;
		color: gray;
	}
	
	h1 {
		font-family: Arial, Helvetica, sans-serif;
		color: gray;
	}	
	
	.lower {
		margin-top: 100px;
		padding: 20px;
		border-style: solid;
		border-width: 10px;
		border-color: gray;
		background-image: url("image.jpeg");
		background-size: 100%;
	}
		
		
	
	body {
		width: 30%;
		margin: auto;
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: darkslateblue;
		text-align: left;
		
	}

	h1 {
		margin-top: 0%;
	}


